$burger-offset: .5em;
$slide-duration: 200ms;
$opacity-duration: 500ms;
$link-transform-duration: 500ms;

.primary-nav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  transform: translateY(-100vh);

  transition: transform 0s ease-in-out;

  // display: grid;
  // grid-template-rows: auto 1fr;
  // align-items: center;

  background-color: rgba(var(--header-color), .9);

  ul {
    height: 100%;
    display: grid;
    align-items: center;
    opacity: 0;
    transition: opacity $opacity-duration ease-in-out $slide-duration;

    a {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
  }
}

.menu-toggle {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.8em;
  height: 90%;
  cursor: pointer;

  height: .2em;
  background-color: $primary-color;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $primary-color; //inherit would cause them to be transparent when middle bar is invisible.
    transition: transform $link-transform-duration ease-in-out;
  }

  &::before {
    top: -$burger-offset;
  }

  &::after {
    bottom: -$burger-offset;
  }

  // display: grid;
  // grid-template-rows: repeat(3, 1fr);
  // grid-gap: .2em;
  // height: 2.1em;
  // width: 1.8em;
  // align-items: center;

  span {
    display: block;
    width: 100%;
    height: .2em;
    background-color: $primary-color;
  }
}

#menu-toggle-checkbox {
  display: none;

  &:checked { 
    ~ .menu-toggle {
      background-color: transparent;
  
      &::before {
        transform: translate3d(0, $burger-offset, 0) rotate(45deg);
      }
  
      &::after {
        transform: translate3d(0, -$burger-offset, 0) rotate(-45deg);
      }
    }

    ~ .primary-nav {
      display: flex;
      flex-direction: column;
      transform: translateY(0);
      transition: transform $slide-duration ease-in-out;

      ul {
        opacity: 1;
        transition: opacity $opacity-duration ease-in-out $slide-duration;
      }
    }
  }
}