.site-header {
  --header-color: #{red($secondary-color), green($secondary-color), blue($secondary-color)};
  --header-height: 4.5em;
  background-color: rgba(var(--header-color), 1);
  color: $primary-color;
  height: var(--header-height);
  padding: 1.5em;
  display: flex;
  align-items: center;

  a {
    color: $primary-color;
  }

  .logo {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  nav {
    margin-left: auto;
  }
}