html {
  font-family: Helvetica;
  font-size: 12px;
  
  @include non-mobile {
    font-size: 16px;
  }
}

body {
  @include non-mobile {
    margin: auto;
  }
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.7rem;
}