// Mixins
@mixin rounded-corners($top-left: .5rem, $top-right: $top-left, $bottom-left: $top-left, $bottom-right: $top-left) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
}

@mixin non-mobile {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin rgba-background($hex, $opacity: .9) {
  background-color: rgba(red($hex), green($hex), blue($hex), $opacity);
}
// END Mixins