// Placeholder classes
%hide {
  display: none;
}

%subdued {
  color: rgba(0, 0, 0, 0.6);
}

%thin {
  font-weight: 300;
}

%shadow {
  box-shadow: .05rem .05rem .5rem -.1rem #ccc;
}
// END Plqceholder classes