<html>

<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title>Vanilla appppppp</title>
</head>

<body>
  <div class="outer-wrapper">
    <header class="site-header main-header">
      <a class="logo" href="#">Some news site</a>
      <input id="menu-toggle-checkbox" type="checkbox" />
      <label for="menu-toggle-checkbox" class="menu-toggle" href="#menu"></label>
      <nav id="menu" class="primary-nav">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Politics</a>
          </li>
          <li>
            <a href="#">Sport</a>
          </li>
          <li>
            <a href="#">Entertainment</a>
          </li>
          <li>
            <a href="#">Science &amp; Tech</a>
          </li>
          <li>
            <a href="#">Business</a>
          </li>
          <li>
            <a href="#">Health</a>
          </li>
          <li>
            <a href="#">Weather</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="featured">
        <article class="card">
          <img class="main-img"
            src='https://images.unsplash.com/photo-1554142918-2c055786cf67?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ'
            alt=''>
          <div class="card-content">
            <h4>Website design</h4>
            <h2>5 Critical components you should never miss in a design project</h2>
            <div class="metadata">
              <img class="author-img" src="https://via.placeholder.com/2000x800/ff0" alt="">
              <div>
                <p class="author-name">By Alex</p>
                <p class="article-date">on April 16th, 2019</p>
              </div>
            </div>
        </article>
      </section>
      <section class="picks">
        <h3>Editor's picks</h3>
        <div class="cards">
          <article class="card">
            <img class="main-img"
              src="https://images.unsplash.com/photo-1554142918-2c055786cf67?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
              alt="">
            <!--           <h1>Alex</h1> -->
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>The challenges & rewards of being vulnerable</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/fb0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <img class="main-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>Content strategy best practices vs reality with Alex of Scripted</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <img class="main-img" src="https://via.placeholder.com/1000x800/df0" alt="">
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>The selling 7: How to make amazing employee bio videos (+Examples)</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <img class="main-img" src="https://via.placeholder.com/1000x800/fb0" alt="">
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>The challenges & rewards of being vulnerable</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/fb0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <img class="main-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>Content strategy best practices vs reality with Alex Barron of Scripted</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
          <article class="card">
            <img class="main-img" src="https://via.placeholder.com/1000x800/df0" alt="">
            <div class="card-content">
              <h4>Blogging</h4>
              <h2>The selling 7: How to make amazing employee bio videos (+Examples)</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/cf0" alt="">
                <div>
                  <p class="author-name">By Alex</p>
                  <p class="article-date">on April 16th, 2019</p>
                </div>
              </div>
            </div>
          </article>
        </div>

      </section>
      <section class="recent">
        <h3>Recent articles & videos</h3>
        <div class="strips">
          <article class="strip">
            <img class="main-img" src="https://via.placeholder.com/1000x800/c20" alt="">
            <div class="strip-content">
              <h4>Blogging</h4>
              <h2>The selling 7: How to make amazing employee bio videos (+Examples)</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/c20" alt="">
                <div>
                  <p>
                    <span class="author-name">By Alex</span>
                    <span class="article-date">on April 16th, 2019</span></p>
                </div>
              </div>
            </div>
          </article>
          <article class="strip">
            <img class="main-img" src="https://via.placeholder.com/1000x800/4d0" alt="">
            <div class="strip-content">
              <h4>Blogging</h4>
              <h2>The selling 7: How to make amazing employee bio videos (+Examples)</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/4d0" alt="">
                <div>
                  <p><span class="author-name">By Alex</span>
                    <span class="article-date">on April 16th, 2019</span></p>
                </div>
              </div>
            </div>
          </article>
          <article class="strip">
            <img class="main-img" src="https://via.placeholder.com/1000x800/af0" alt="">
            <div class="strip-content">
              <h4>Blogging</h4>
              <h2>The selling 7: How to make amazing employee bio videos (+Examples)</h2>
              <div class="metadata">
                <img class="author-img" src="https://via.placeholder.com/1000x800/af0" alt="">
                <div>
                  <p><span class="author-name">By Alex</span>
                    <span class="article-date">on April 16th, 2019</span></p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer></footer>
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>