.outer-wrapper {
  // display: grid;
  // grid-template-rows: 1fr auto 1fr;
  // gap: $standard-gutter;
  
  @include non-mobile {
    // grid-template-columns: 1fr 6fr 1fr;
  }
}

main {
  display: grid;
  grid-gap: $standard-gutter * 2;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  
  @include non-mobile {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-x: hidden;
    padding: 0;
  }
}

footer {
  grid-row: -2 / -1;
  grid-column: 1 / -1;
}

h2 {
  font-size: 1.5rem;
  
  @include non-mobile {
    font-size: 1.7rem;
  }
}

h3 {
  // margin-bottom: $standard-gutter;
}

h4 {
  margin-bottom: 1.4rem;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

section {
  grid-column: 1 / -1;
  height: 100%;
  
  display: grid;
  grid-template-columns: 2rem 1fr 1rem;
  grid-template-rows: auto auto;
  grid-gap: $standard-gutter 0;
  
  h3 {
    grid-column: 2 / -2;
  }
  
  > div, > article {
    grid-row: 2 / -2;
    grid-column: 1 / -1;
  }
  
  h3, h4 {
    @extend %subdued;
    text-transform: uppercase;
  }
  
  @include non-mobile {
    padding: 0 .4rem 0;
  }
}

// Card container styles.
.cards {
  display: grid;
}

// Base .card styles
.card {
  @extend %shadow;
  height: 100%; // for image to obey %;
  
  .main-img {
    width: 100%;
  }
  
  @include non-mobile {
    @include rounded-corners;
    
    .main-img {
      @include rounded-corners(.5rem, .5rem, 0, 0);
    }
  }
}

.card-content {
  padding: 1em;
  // height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-img {
  display: block;
  object-fit: cover;
  height: 20rem;
  // max-height: 300px;
}

.metadata {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.author-img {
  object-fit: cover;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 1em;
}

.author-name {
  @extend %thin;
  @extend %subdued;
}

.article-date {
  // font-size: .9rem;
  @extend %subdued;
}

.strips {
  // display: grid; // for consistency with cards, but not really doing anything atm.
  margin-bottom: .5em;
}

// Base .strip styles
.strip {
  @extend %shadow;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  padding-right: 1.4rem;
  
  .strip-content {
    display: grid; // using grid because ellipsis was not working with flex.
    grid-gap: .5rem;
  }
  
  h4, .metadata {
    margin: 0;
  }
  
  h2 {
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  .main-img {
    border-radius: 1.9rem;
    width: 12rem;
    height: 12rem;
    padding: 1.4em;
    
    @include non-mobile {
      @include rounded-corners(.5rem, 0, .5rem, 0);
      width: 100%;
      padding: 0;
      // margin-right: 1.4em;
    }
  }
  
  .author-img {
    @extend %hide;
  }
  
  .article-date {
    @extend %thin;
    @extend %subdued;
    font-size: 1rem;
  }
  
  @include non-mobile {
    display: grid;
    grid-gap: $standard-gutter;
    grid-template-columns: 20rem 1fr auto; // have auto in order to have gap on the end.
    border-radius: .5rem;
  }
}
// END base .strip styles.

// Featured card <section>.
.featured {
  display: block;
  
  h2 {
    font-size: 2rem;
  }
  
  .author-name {
    font-weight: 700;
  }
  
  .card-content {
    padding: 1.25em 1.5em;
  }
}
// END Featured card </section>

// Editor's picks <section>.
.picks {
  padding: 0;
  grid-column: 1 / -1; // we want cards container to be full width.
  // overflow-y: hidden;
  
  .cards {
    grid-column: 1 / -1; // always want cards container to span full width.
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // allows for size of cards to grow and shrink with the viewport and number of cards.
    /* By having a gap and a column the same size, the total width means the start of the cards line up with the content above and below.
      -30px is to leave some of the next card visible.
    */
    grid-template-columns: repeat(6, calc(70% - 2rem)) $standard-gutter;  
    gap: $standard-gutter;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: .4rem;
    
    // create pseudo-elements to take up second column. enables scrolling off the ends of the viewport.
    &::after {
      content: '';
    }
    
    @include non-mobile {
      grid-template-columns: repeat(6, calc(33% - 2rem)) .4rem;
      padding: 0 .4rem .4rem; // no space was allowed for shadow or scrollbar.
    }
  }
  
  .card {
    @include non-mobile {
      @include rounded-corners;
    }
  }
  
  .main-img {
    height: 15rem;
    width: 100%;
    
    @include non-mobile {
      @include rounded-corners(.5rem, .5rem, 0, 0);
      height: 8rem;
    }
  }
  
  .card-content {
    // height: 100% - $main-img-proportion;
  }
  
  .metadata {
    img {
      @extend %hide;
    }
  }
  
  .author-img {
    @extend %hide;
  }
  
  .article-date {
    @extend %hide;
  }
}
// END Editor's picks card </section>